# CMake build dirs
cmake-build-*/
build/
deploy/
docs/
CMakeFiles/
CMakeCache.txt

# Qt Creator
*.user
*.user.*
*.autosave

# Бинарники и артефакты
*.exe
*.obj
*.pdb
*.dll
*.lib
*.log
*.ico
*.png
*.pdf
*.dwg

# Временные
*.tmp
*.bak
*.swp
